.form-img {
  width: 460px;
  height: 502px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 125px;
}
.form-container {
  width: 611px;
  border: 1px solid black;
  padding: 75px;
}
.form-container .label {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}
.form-container input {
  width: 461px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid var(--dark-06, #e8e8e8);
  margin-top: 20px;
  margin-bottom: 28px;
  padding: 15px 25px;
  font-size: 16px;
  display: block;
}
.form-container button {
  width: 461px;
}
